@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@theme {
    --font-poppins: Poppins, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}