@import "tailwindcss";

body {
  font-family: "inter";
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .text-6xl { font-size: 3.75rem !important; line-height: 1 !important; }

  .chakra-reset {
    all: unset;
  }
}